.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .logo {
    font-size: 2rem;
  }
  ul {
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
    li {
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      list-style-type: none;
      text-transform: lowercase;
      color: rgb(58, 57, 57);

      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}
.navbarShaddow {
  filter: drop-shadow(0 -9px 10px #afafaf);
}
