/* SCSS HEX */
$almond: #F2DBC5ff;
$white: #FCFCFDff;
$cornflower-blue: #6995EEff;
$white-2: #FEFEFEff;
$midnight-blue: #120B4Fff;
$little-boy-blue: #89ABE3ff;
$wild-blue-yonder: #A5B8E3ff;
$lavender-web: #DFE3EFff;
$russian-violet: #2E2452ff;
$ghost-white: #E7EBF6ff;