@use "styles/media";
@use "styles/colors";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem 1rem;

  min-height: 100vh;
  .mainContainer {
    display: flex;
    flex-direction: column;
    .mainDescription {
      width: 100%;
      padding: 1rem;
      animation: 400ms ease-out 0s 1 appear-text;
    }
    .mainImage {
      width: 100%;
      img {
        width: 100%;
      }
      animation: 800ms ease-out 0s 1 appear;
    }
    h1 {
      font-weight: 400;
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
      text-align: center;
      margin-top: 1rem;
    }
    .flagButton {
      border-radius: 50%;
      filter: drop-shadow(2px 2px 2px rgb(219, 219, 219));
    }
  }
}

@include media.for-tablet-portrait-up {
  .main {
    .mainContainer {
      .mainDescription {
        padding: 2rem;
        h1 {
          text-align: center;
        }
      }
      .mainImage {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@include media.for-tablet-landscape-up {
  .main {
    .mainContainer {
      flex-direction: row;
      .mainDescription {
        width: 50%;
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@include media.for-desktop-up {
  .main {
    padding: 6rem 6rem 1rem;
  }
}

@include media.for-middle-desktop-up {
  .main {
    padding: 4rem 1rem 1rem;
    .mainContainer {
      .mainDescription {
        padding: 6rem;
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.2rem;
        }
        .billRow {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-top: 2rem;
          width: 100%;
          span {
            font-size: 2rem;
          }
          input {
            height: 44px;
            border-radius: 12px;
            border: 2px rgb(186, 191, 255) solid;
            font-size: 1.5rem;
            color: rgb(40, 44, 80);
            width: 150px;
            text-align: center;
          }
          button {
            height: 44px;
            border-radius: 20px;
            background-color: colors.$little-boy-blue;

            border: 2px;
            padding: 0.5rem 2rem;
            font-size: 1.5rem;
            color: colors.$russian-violet;
            cursor: pointer;
            &:hover {
              background-color: colors.$cornflower-blue;
            }
          }
        }

        .tipsResults {
          width: 600px;
          height: 600px;
          content: "dzik";
          background-image: url("/assets/blob.svg");
          background-size: 600px;
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: -50px;
          display: flex;
          justify-content: center;
          padding: 4rem;
          .tipsData {
            width: 80%;
            font-size: 2.2rem;
          }
        }
      }
      .mainImage {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}





@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
