@use "styles/media";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem 1rem;

  min-height: 100vh;
  .mainContainer {
    display: flex;
    flex-direction: column;
    .mainDescription {
      width: 100%;
      padding: 1rem;
      animation: 400ms ease-out 0s 1 appear-text;
    }
    .mainImage {
      width: 100%;
      img {
        width: 100%;
      }
      // animation: 1s ease-out 0s 1 appear;
      animation: 800ms ease-out 0s 1 appear;
    }
    h1 {
      font-weight: 400;
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

@include media.for-tablet-portrait-up {
  .main {
    .mainContainer {
      .mainDescription {
        padding: 2rem;
        h1 {
          text-align: center;
        }
      }
      .mainImage {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@include media.for-tablet-landscape-up {
  .main {
    .mainContainer {
      flex-direction: row;
      .mainDescription {
        width: 50%;
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@include media.for-desktop-up {
  .main {
    padding: 6rem 6rem 1rem;
  }
}

@include media.for-middle-desktop-up {
  .main {
    padding: 4rem 1rem 1rem;
    .mainContainer {
      .mainDescription {
        padding: 6rem;
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .mainImage {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}
// .description {
//   display: inherit;
//   justify-content: inherit;
//   align-items: inherit;
//   font-size: 0.85rem;
//   max-width: var(--max-width);
//   width: 100%;
//   z-index: 2;
//   font-family: var(--font-mono);
// }

.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .logo {
    font-size: 2rem;
  }
  ul {
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
    li {
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      // font-weight: 600;
      list-style-type: none;
      text-transform: lowercase;
      color: rgb(58, 57, 57);

      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}

.navbarShaddow {
  filter: drop-shadow(0 -9px 10px #afafaf);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
    // transform: translateY(7%);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    // transform: translateX(0);
  }
}
